<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="formgroup">
        <ion-list inset>
    
    
          <ion-item>
            <ion-label floating>
              Email
            </ion-label>
            <ion-input type="Email" formControlName="email" [(ngModel)]="emailng"> </ion-input>
          </ion-item>
          <ion-item *ngIf="email.hasError('required') && formgroup.controls.email.touched">
            <p class="winput">Email is required</p>
          </ion-item>
          <ion-item *ngIf="formgroup.controls.email.hasError('pattern') && formgroup.controls.email.touched">
            <p class="winput">Enter correct email format</p>
          </ion-item>
          <br>
          <ion-item>
            <ion-label floating>
              Password
            </ion-label>
            <ion-input type="password" formControlName="password" [(ngModel)]="passwordng"> </ion-input>
          </ion-item>
          <ion-item *ngIf="password.hasError('required') && formgroup.controls.password.touched">
            <p class="winput">Password is required</p>
          </ion-item>
          <ion-item *ngIf="formgroup.controls.password.hasError('pattern') && formgroup.controls.password.touched">
            <p class="winput">Password should be alpha-numeric</p>
          </ion-item>
          <ion-item *ngIf="formgroup.controls.password.hasError('minlength') && formgroup.controls.password.touched">
            <p class="winput">Password should not have less than 6 characters</p>
          </ion-item>
    
        </ion-list>
        <br>
        <button ion-button round outline style="color:#0f0; font-size: 15px;" (click)="signin()" [disabled]="!formgroup.valid">Register</button>
        <button ion-button round outline style="color:#f00; margin-left:85px; font-size: 15px;" type="reset">Reset</button>
    
      </form>
</ion-content>
